# maximal read length 
max_rd_len=100

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rank=1
rd_len_cutoff=100
pair_num_cutoff=3
map_len=32
q1=/home/hychim/private/UU_GenomeAnalysis/data/raw_data/illumina_data/SRR6058604_scaffold_11.1P.fastq.gz
q2=/home/hychim/private/UU_GenomeAnalysis/data/raw_data/illumina_data/SRR6058604_scaffold_11.2P.fastq.gz
